{% extends 'FrontBundle::base.html.twig' %}

{% block title %}{{ category.type }}{% endblock %}

{% block main %}
<main>
        <section>
            <h1>{{ category.type }}</h1>
            {#{ dump(category.type) }#}
            {% for value in item %}
                <img class="item" src="{{ asset('bundles/front/images/item/' ~ value.img) }}" />
                <div class="itemTexte">
                    <h2><a href="{{ path('item_detail', {'id' : value.id}) }}">{{ value.name }}</a></h2>
                    <p>{{ value.description }}</p>
                </div>
                <div class="clear"></div>
                <hr>
            {% endfor %}
                <p><a href="{{ path('item') }}">Retour au catalogue de produits</a></p>
	</section>
</main>
{% endblock %}