{% extends 'FrontBundle::base.html.twig' %}

{% block title %}Art.Space{% endblock %}

{% block main %}
<main>
        <section>
            <h1>Bienvenue sur le site de Art.Space</h1>
            <h2><a href="{{ path('item') }}">Voir notre catalogue complet</a></h2>
            <div class="clear"></div>
            <h2>Un de nos produits les plus vendus :</h2>
            {#{ dump(id) }#}
            <img class="item" src="{{ asset('bundles/front/images/item/' ~ item.img) }}" />
            <div class="itemTexte">
                <h2>{{ item.name }}</h2>
                <h3>{{ item.category.type }}</h3>
                <p>{{ item.description }}</p>
            </div>
            <div class="clear"></div>
            {% if is_granted('ROLE_USER') %}
                <p><a href="{{ path('logout') }}">Se déconnecter</a></p>
            {% else %}
                <h3>Si vous êtes déjà client, <a href="{{ path('login') }}">connectez-vous</a>.</h3>
                <h3>Si vous n'êtes pas encore client, <a href="{{ path('inscription') }}">inscrivez-vous.</a></h3>
            {% endif %}
	</section>
</main>
{% endblock %}