{% extends 'FrontBundle::base.html.twig' %}

{% block title %}Art.Space{% endblock %}

{% block main %}
<main>
        <section>
            <h1>Bienvenue sur le site de Art.Space</h1>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h2><a href="{{ path('item') }}">Voir notre catalogue complet</a></h2>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h3>Si vous êtes déjà client, connectez-vous.</h3>
            <p>&nbsp;</p>
            <h3>Si vous n'êtes pas encore client, inscrivez-vous.</h3>
            <div class="clear"></div>
            <h1>Le produit du mois :</h1>
            {#{ dump(item) }#}
            <img class="item" src="{{ asset('bundles/front/images/item/' ~ item.img) }}" />
            <div class="itemTexte">
                <h2>{{ item.name }}</h2>
                <h3>{{ item.category.type }}</h3>
                <p>{{ item.description }}</p>
            </div>
            <div class="clear"></div>
	</section>
</main>
{% endblock %}