<!-- footer -->
<footer>
        <ul>			
                <!-- colonne 04 -->
                <li>
                        <ul>
                                <li class="titre">
                                    <a href="{{ path('index') }}"><img src="{{ asset('bundles/front/images/logo_blanc.png') }}" alt="<em>Art.space</em>"></a>
                                </li>
                        </ul>
                </li>
                <!-- colonne 01 -->
                <li>
                        <ul>
                                <li class="titre">plan du site</li>
                                <li class="nav_mobile invisible">
                                    <a href="{{ path('index') }}">Accueil</a>
                                </li>
                                <li class="nav_mobile invisible">
                                    <a href="{{ path('item') }}">Catalogue</a>
                                </li>
                                <li class="nav_mobile invisible">
                                    <a href="{{ path('user') }}">Mon compte</a>
                                </li>
                                <li class="nav_mobile invisible">
                                    <a href="{{ path('panier') }}">Mon panier</a>
                                </li>
                        </ul>
                </li>
                <!-- colonne 02 -->
                <li>
                        <ul>
                                <li class="titre">contact</li>
                                <li><a href="mailto:#">Mail</a></li>
                        </ul>
                </li>
                <!-- colonne 03 -->
                <li>
                        <ul>
                                <li class="titre">acces privé</li>
                                <li class="nav_mobile invisible"><a href="{{ path('admin') }}">Administrateur</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav_mobile invisible"><a href="{{ path('logout') }}">Se déconnecter</a></li>
                                {% endif %}
                        </ul>
                </li>
        </ul>
</footer>