<!-- header -->
<header>
        <!-- logo -->
        <div class="logo"><a href="{{ path('index') }}"><img src="{{ asset('bundles/front/images/logo.png') }}" alt="<em>Art.space</em>"></a></div>
        <!-- navigation principale -->
        <nav>
                <ul>
                        <li class="menu"><a href="#">menu</a></li>
                        <li class="nav_mobile invisible"><a href="{{ path('index') }}">accueil</a></li>
                        <li class="nav_mobile invisible"><a href="{{ path('item') }}">catalogue</a></li>
                        <li class="nav_mobile invisible"><a href="{{ path('user') }}">mon compte</a></li>
                        {% if is_granted('ROLE_USER') %}
                        <li class="nav_mobile invisible"><a href="{{ path('logout') }}">Me déconnecter</a></li>
                        {% endif %}
                        <li class="nav_mobile invisible"><a href="{{ path('panier') }}">mon panier</a></li>
                </ul>
        </nav>
        <div class="clear"></div>
</header>